{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["off", { "allow": ["id"] }],
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "comma-dangle": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  }
}