.cards {
    max-width: 880px;
    margin: 0 auto;
}

.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    justify-content: center;
    gap: 20px 17px;
    padding: 0;
    list-style: none;
    margin: 0 auto;

}